<!-- This overlay is used for page transitions across the site -->
<div id="page-transition-overlay"></div>

<!-- Common third-party and self-hosted libraries -->
<script src="https://www.youtube.com/iframe_api" defer></script>
<script src="assets/js/gsap/gsap.min.js" defer></script>
<script src="assets/js/gsap/ScrollTrigger.min.js" defer></script>
<script src="assets/js/gsap/ScrollSmoother.min.js" defer></script>
<script src="assets/js/gsap/Draggable.min.js" defer></script>
<script src="assets/js/gsap/DrawSVGPlugin.min.js" defer></script>
<script src="assets/js/gsap/Observer.min.js" defer></script>
<script src="assets/js/gsap/EasePack.min.js" defer></script>

<!-- Your global script that contains the menu logic -->
<script src="assets/js/global.js" defer></script>